<!--PWA + Favicons start-->
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#600575">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="msapplication-TileColor" content="#600575">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="#600575" />
<!--PWA + Favicons end-->
<!--GA start-->
{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/google_analytics_async.html" . }}
<!--GA end-->
